@mixin link {
  text-decoration: none;
  color: #444;
  &:hover{
    color: white;
  }
}

.debug_dump {
  margin-top: 100px;
}

body{
  padding: 0;
  margin: 0;
  background-color: lightblue;
}

header {
	height: 80px;
	width: 100%;
	background-color: teal;
  #logo {
  	line-height: 80px;
  	float: left;
  	font-size: 30px;
  	margin-left: 80px;
    text-transform: uppercase;
    font-weight: bold;
    a {
      @include link;
    }
  }
  nav {
  	float: left;
    .nav-list-3{
      margin-left: 0px;
    }
    .nav-list-5{
      margin-left: 0px;
    }
    li {
    	line-height: 50px;
    	float: left;
    	margin-left: 30px;
    	list-style: none;
      a {
        @include link;
      }
    }
  }
}

.title-name{
  margin-left: 80px;
  font-size: 30px;
  color: #666;
}

table{
  margin-left: 80px;
  color: #444;
  align: center;
  th{
    border: 3px solid teal;
    color: teal;
  }
  td{
    font-size: 20px;
    border: 3px solid #666;
    a {
      @include link;
    }
  }
}

form{
  color: #666;
  margin-left: 40px;
  li{
    list-style: none;
    margin-bottom: 0px;
    font-size: 20px;
  }
  .form-field{
    width: 200px;
    height: 20px;
  }

}

.button{
  background-color: white;
  color: #666;
  font-size: large;
  width: 210px;
  margin-top: 20px;
}

.error{
  color: red;
  margin-left: 40px;
}

.alert{
  margin-top:20px;
  margin-left: 80px;
  font-size: 20px;
}

.alert-success{
  color: green;
}

.alert-danger{
  color: red;
}

.users{
  margin-left: 60px;
  td{
    padding: center;
    border: 3px solid #666;
  }
}

.pagination{
  margin-left: 20px;
  display: table;
  li{
    list-style: none;
    display: table-cell;
    border-left: 1px solid black;
    padding: 0 10px;
    a{
      color: #444;
      text-decoration: none;
    }
  }
}
